<html lang="en" data-bs-theme="dark">
<head>
    {{> head }}
</head>
<body>
<div class="d-flex py-4 align-items-center bg-body-tertiary min-vh-100">
    <main class="form-signin w-100 m-auto">
        <form>
            <img class="mb-4" src="/images/robot.png" alt="a cute robot" width="72" height="57"/>
            <h1 class="h3 mb-3 fw-normal">Please sign in</h1>

            <div class="form-floating">
                <input
                        type="email"
                        class="form-control"
                        id="floatingInput"
                        name="email"
                        autocomplete="current-email"
                        required
                        placeholder="name@example.com"/>
                <label for="floatingInput">Email address</label>
            </div>
            <div class="form-floating">
                <input
                        type="password"
                        class="form-control"
                        name="password"
                        autocomplete="current-password"
                        required
                        id="floatingPassword"
                        placeholder="Password"/>
                <label for="floatingPassword">Password</label>
            </div>

            <div class="form-check text-start my-3">
                <input class="form-check-input" type="checkbox" value="remember-me" id="flexCheckDefault"/>
                <label class="form-check-label" for="flexCheckDefault">
                    Remember me
                </label>
            </div>
            <button class="btn btn-primary w-100 py-2" type="submit" disabled>Sign in</button>
            <p class="mt-5 mb-3 text-body-secondary" id="copyright">&copy;</p>
        </form>
    </main>
</div>
</body>
<script src="/javascripts/index.js"></script>
</html>